.footer {
    padding: 50px 0 10px;
    width: 100%;
    background: linear-gradient(to right, #0a1346, #33031d);
    font-size: 13px;
    color: darkslateblue;
    overflow-x: hidden; 

}
.footer .row .col img {
    margin-left: 50px;
    margin-bottom: 30px;
}
.footer section {
   margin-left: 40px;
   font-size: 20px;
}
.footer section a {
    margin: none;
    padding-left: 5px;
    padding-right: 5px;

}
.footer .row .col p {
    margin-left: 30px;
}
.footer .row .col h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.footer .row .col ul {
    padding: 0px;
}
.footer .row .col ul li {
    color: lightsteelblue;

}
.footer .row .col a img {
    margin-left: 170px;
    margin-bottom: 10px;
}
.footer .row .col .hr-left {
    float: left; 
    width: 96%;
}
.footer .row .col .hr-right {
    float: right; 
    width: 2%;
}
.footer .row .col a .fa {
    margin-left: 5px;
    margin-top: 20px; 
}
.footer .row .col .col-end {
    margin-bottom: 0px;
}






