.footer {
  padding: 50px 0 10px;
  width: 100%;
  background: #1a1a1a;
  font-size: 13px;
  color: #fff;
}
.footer .row .col img {
  margin-left: 50px;
  margin-bottom: 30px;
}
.footer section {
  margin-left: 40px;
  font-size: 20px;
}
.footer section a {
  margin: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 27px;
}
.footer .row .col p {
  margin-left: 30px;
}
.footer .row .col h4 {
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.footer .row .col .list-contact li {
  padding: 4px 0px;
}
.footer .row .col .list-talk li {
  padding: 4px 0px;
}
.list-contact,
.list-talk,
.map {
  padding-left: 0;
}
.list-contact li a,
.list-talk li a,
.map li a {
  text-decoration: none;
}
.list-talk li a i,
.map li a i {
  font-size: 18px;
}
.footer .row .col ul li {
  color: lightsteelblue;
}
.footer .row .col a img {
  margin-left: 170px;
  margin-bottom: 10px;
}
.footer .row .col .hr-left {
  float: left;
  width: 96%;
}
.footer .row .col .hr-right {
  float: right;
  width: 2%;
}
.footer .row .col a .fa {
  margin-left: 5px;
  margin-top: 20px;
}
.footer .row .col .col-end {
  margin-top: 13px;
  margin-bottom: 0px;
}
.footer .row .col .copyright {
  letter-spacing: 0.8px;
  font-size: 16px;
}
.copyright a {
  text-decoration: none;
}
