/* Nguyễn Tuấn Cảnh B1906632 */
/* css index */

/* start top-bar */
@keyframes down {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
header .main-header.active {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  background: #fff;
  -webkit-animation: down 1s forwards;
  animation: down 1s forwards;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.header__first {
  background-color: whitesmoke;
}
.top-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 97%;
  margin: 0 auto;
}
.menu-ipad-mobile {
  display: none;
}
.top-bar__first,
.top-bar__second,
.top-bar__third {
  display: flex;
  align-items: center;
}

.top-bar__second li:nth-child(2) {
  display: inline-block;
  border-radius: 5px;
  background-color: #ba933e;
  color: #fff;
  font-weight: 700;
  padding: 3px 8px;
  font-size: 14px;
  cursor: pointer;
}

.top-bar__first li,
.top-bar__second li {
  padding: 0 15px;
  cursor: pointer;
}
.top-bar__third li {
  padding: 0 10px;
}
.top-bar__first li:hover {
  color: #ba933e;
}
.top-bar__first li i {
  margin-right: 5px;
  font-size: 14px;
}
.top-bar__third--region {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar__third--region a {
  display: inline-block;
}
.top-bar__third--region a:hover {
  color: #ba933e;
}
.top-bar__third--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar__third--icon a {
  display: inline-block;
  padding: 5px 10px;
}
.top-bar__third--icon a i {
  color: #666;
  transition: all 0.2s;
}
.top-bar__third a {
  text-decoration: none;
  color: #000;
}

.top-bar__third a:hover i {
  color: darkgoldenrod;
}

.top-bar__third--region {
  display: inline-block;
  cursor: pointer;
}

.menu-English {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 5;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  min-width: 150px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.menu-English li {
  display: block;
  color: #000;
  text-decoration: none;
}
.menu-English li:first-child {
  margin-bottom: 8px;
}
.menu-English li a {
  text-align: left;
}

.top-bar__third--region:hover .menu-English {
  display: block;
  transition: all 0s;
}

.top-bar__third > li:hover > a,
.top-bar__third .menu-English li:hover a {
  color: darkgoldenrod;
}

/* end top-bar */

/* start top-nav */
.main-header {
  box-shadow: 0px 0px 3px #ccc;
  padding: 15px 0;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  margin: 0 auto;
  width: 97%;
  text-align: center;
}
.top-nav__first {
  margin-left: 70px;
}
.top-nav__first li {
  display: inline-block;
}

.top-nav__first li a {
  color: #000;
  text-decoration: none;
  padding: 0 15px;
}

.tn-Blog,
.top-nav__first__Page {
  display: inline-block;
  cursor: pointer;
}

.menu-Page,
.menu-Shop {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 5;
  box-shadow: 0px 6px 15px rgb(0 0 0 / 10%);
}

.menu-Page li,
.menu-Shop li {
  display: block;
  color: #000;
  text-decoration: none;
}

.top-nav__first__Page ul,
.top-nav__first__Shop {
  margin-bottom: 0;
  padding-left: 0;
}
.top-nav__first__Page:hover .menu-Page,
.top-nav__first__Shop:hover .menu-Shop {
  display: block;
}

.top-nav__first > li:hover > a,
.top-nav__first .menu-Page li:hover a,
.top-nav__first .menu-Shop li:hover a {
  color: darkgoldenrod;
}

.top-nav__second a:hover {
  color: darkgoldenrod;
}

.icon-arrow {
  font-size: 10px;
}

.top-nav__img {
  padding: 10px;
  width: 150px;
}

.top-nav__second {
  display: flex;
}

.top-nav__second .top-nav__second--regis {
  border-right: 1px solid #ccc;
}
.top-nav__second a {
  color: #000;
  text-decoration: none;
  padding: 0 8px;
}
.top-nav__second__icon {
  margin-left: 10px;
  display: flex;
}
.top-nav__second__icon li {
  position: relative;
}
.top-nav__second__icon li a {
  cursor: pointer;
}
.top-nav__second__icon li:hover {
  color: #ba933e;
}

.top-nav__second__icon i {
  padding: 0 10px;
  font-size: 18px;
}
.top-nav__second__icon .item .before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 14px;
}
/* end top-nav */

.main {
  position: relative;
}

.main-text {
  position: absolute;
  top: 150px;
  left: 20px;
  padding-left: 60px;
  padding-right: 20px;
}

.main-text__ss {
  padding: 9px 30px 11px;
  border-radius: 4px;
  line-height: 32px;
  color: #fff;
  background-color: #1a1a1a;
  transition: all 0.5s;
  border: 1px solid #000;
}
.main-text__ss:hover {
  color: #fff;
  background: #ba933e;
  border: 1px solid #ba933e;
}
.main-text h1 {
  color: #444444;
  font-size: 20px;
  font-weight: 700;
}

.main-text h1 a:nth-child(1) {
  color: dimgray;
}
.main-text h1 span {
  color: #ba933e;
}

.main-text h2 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* responsive iPad */
@media (max-width: 1200px) {
  .top-bar__first,
  .top-bar__third,
  .top-nav__first,
  .top-nav__second--login-regis {
    display: none;
  }

  .top-nav {
    margin: 12px auto;
  }

  .top-nav__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
  }

  .top-bar__second {
    margin-left: auto;
    margin-right: auto;
  }

  .top-nav__first li {
    display: block;
  }

  .menu-ipad-mobile {
    display: block;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 20px;
    cursor: pointer;
  }

  .main-text {
    top: 50px;
    left: 5px;
  }

  .main-text h1 {
    font-size: 12px;
  }

  .main-text h2 {
    font-size: 24px;
  }

  .main-text__ss {
    padding: 2px 10px;
  }

  .top-bar__second li,
  .top-bar__second li:nth-child(2) {
    font-size: 12px;
  }
}

/* responsive Mobile */
@media (max-width: 570px) {
  .top-bar {
    display: none;
  }

  .top-nav {
    margin: 5px auto;
  }

  .menu-ipad-mobile {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 0px;
  }

  .top-nav__second__icon {
    font-size: 12px;
  }

  .top-nav__img {
    width: 110px;
  }
  .top-nav__second__icon li:nth-child(1),
  .top-nav__second__icon li:nth-child(3) {
    display: none;
  }

  .main-text {
    top: 20px;
    left: 2px;
  }

  .main-text h1 {
    font-size: 6px;
  }

  .main-text h2 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .main-text__ss {
    padding: 1px 4px;
    font-size: 8px;
  }
}
