* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Red Hat Display", Sans-serif;
  font-size: 20px;
  background-color: white;
  color: #000000;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

a,
button {
  text-decoration: none;
  color: #1a1a1a;
  border: none;
}
