/* .header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
} */

.container {
  width: 95%;
  max-width: 1411px;
  margin: 0 auto;
}

/* TRENDING TOP */
.banners {
  margin-bottom: 80px;
}
.banners-item {
  position: relative;
}

.banners-item__image {
  width: 100%;
}

.banners-item__content {
  position: absolute;
  top: 16%;
  left: 9%;
}
.banners-item__title {
  margin-bottom: 5px;
}
.banners-item__content .banners-item__title a {
  font-size: 20px;
  font-weight: 700;
}

.banners-item__content .banners-item__price {
  text-decoration: underline;
  color: #ba933e;
  font-weight: 700;
  font-size: 14px;
}

.wrapper-banner {
  position: relative;
}
.wrapper-banner:hover::after {
  transform: scaleX(0);
  opacity: 1;
}
.wrapper-banner:hover::before {
  transform: scaleY(0);
  opacity: 1;
}
.wrapper-banner::before,
.wrapper-banner::after {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  opacity: 0;
  z-index: 10;
  top: 0;
}

/* TRANDING PRODUCT */
.trending-product .trending-product__title {
  text-align: center;
}
.trending-product__title h3 {
  font-size: 28px;
  font-weight: bold;
}
.trending-product__title p {
  font-size: 16px;
}
.trending-product__list {
  margin-top: 50px;
}
/* BANNER */

section.banner {
  background-image: url("../img/banner/home8-bg-middle.jpg");
  background-position: top;
  background-repeat: no-repeat;
  padding: 45px 0;
  overflow: hidden;
}

section.banner .container {
  padding: 45px 0;
}
.banner__content {
  text-align: center;
}

.banner__content .banner__top {
  font-weight: 700;
  color: #444444;
  font-size: 20px;
  margin-bottom: 15px;
}
.banner__content .banner__top span {
  color: #ba933e;
}
.banner__content .banner__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2em;
  margin-bottom: 28px;
}

.banner__content .banner__markdown {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}
.banner__content .banner__button {
  padding: 15px 30px;
  margin-top: 20px;
}
.banner__content .banner__button:focus {
  box-shadow: none;
}
.banner__content .banner__button:hover {
  color: #fff;
  background-color: #ba933e;
  border: 1px solid #ba933e;
}

.banner__content .banner__button i {
  margin-left: 10px;
}

/* Modal  */
.modal-dialog {
  justify-content: center;
  display: flex;
}
.modal .modal-content .modal-title {
  font-weight: bold;
}
.modal .modal-content .modal-body .total td:nth-child(2) {
  font-weight: bold;
}
.modal .modal-content .modal-body .total td:nth-child(3) {
  font-weight: 700;
  color: #ba933e;
}
.modal-footer .btn-disable {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: default;
}
.modal-footer .btn-primary {
  color: #fff;
  background-color: #1a1a1a;
  transition: all 0.5s;
  border: 1px solid #1a1a1a;
}
.modal-footer .btn-primary:hover {
  background-color: #ba933e;
  border: 1px solid #ba933e;
}
.products-cart {
  display: none;
}
.modal-mobile {
  display: none;
}
/* RESPONSIVE */
@media screen and (max-width: 992px) {
  .trending .banners .wrapper-banner:last-child {
    text-align: right;
    margin-top: 50px;
  }
  .trending .banners .wrapper-banner:last-child img {
    width: auto;
  }
  .trending .banners .wrapper-banner .banners-item {
    background-color: #f0f0f0;
  }
  .banners-item .banners-item__content {
    text-align: left;
  }
  .wrapper-banner::before,
  .wrapper-banner::after {
    content: none;
  }
  .modal-content {
    width: 90%;
  }
  .modal-body .table {
    font-size: 15px;
  }
  .modal-dialog {
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .products-cart {
    display: block;
  }
  .modal-mobile {
    display: block;
  }
  .modal-body .table {
    display: none;
  }
  .modal-desktop {
    display: none;
  }
  .modal-dialog {
    justify-content: center;
    display: flex;
  }
  .modal-content {
    width: 50%;
  }
  .mini-cart-list {
    height: 100%;
    width: 100%;
  }
  .mini-cart-list #mini-cart-product2 {
    overflow: auto;
    max-height: 666px;
  }
  .mini-cart-list #mini-cart-product2 li {
    margin-bottom: 15px;
    position: relative;
    justify-content: space-evenly;
  }
  .mini-cart-list #mini-cart-product2 li img {
    width: 70px;
    margin-right: 15px;
  }

  .mini-cart-list #mini-cart-product2 .quantity {
    font-size: 14px;
    width: 50%;
    position: relative;
  }
  .mini-cart-list #mini-cart-product2 .quantity a {
    font-weight: 700;
    color: #1a1a1a;
    line-height: 1.4;
    font-size: 14px;
  }
  .mobile-removeCart {
    background-color: transparent;
  }
  .mobile-removeCart i {
    color: red;
  }
  .mini-cart-bottom strong {
    color: #1a1a1a;
    font-size: 18px;
  }
  .mini-cart-bottom .total .sub-total {
    color: #ba933e;
    font-weight: 700;
  }
}
@media screen and (max-width: 680px) {
  .modal-content {
    width: 42%;
    transform: translateX(-25%);
  }
}
@media screen and (max-width: 560px) {
  .modal-content {
    transform: translateX(-45%);
  }
}
